html, body {
    color-scheme: dark;
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    display: flex;
    flex-flow: row wrap;
    align-content: space-evenly;
}

.puppycell {
    justify-content: center;
    align-items: center;
    padding: 3%;
}

h1 {
    text-align: center;
}

#homepage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

nav {
    padding: 1%;
    font-size: larger;
}

.navbar-element {
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;
    background-color: white;
    color: black;
}

.navbar-element:hover {
    color: lightblue;
}